
html {
  box-sizing: border-box;
  background-color: #00121D;
  }
  
  *,*:before, *:after {
      box-sizing: inherit;
  }
  
  body {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 auto;
}

/*-------------------------------main section------------------------------*/

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pic1,
.pic2,
.pic3 {
  border-radius: 100%;
  border: 4px solid #FF6001;
  width: 602px;
  height: 574px;
  margin: 40px;
}

.cont1, 
.cont2,
.cont3 {
  margin: 40px;
  width: 650px;
  height: 500px;
  background: linear-gradient(180deg, #003250 0%, rgba(0, 50, 80, 0) 100%);
  border-radius: 60px;
  align-items: center;
  padding: 40px 100px;
}

h1 {
  font-family: 'Montserrat', sans-serif, Verdana;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  color: #FF6001;
  line-height: 0.5;
}

.h2-about {
  font-family: 'Montserrat', sans-serif, Verdana;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: white;
  line-height: 0.5;
  margin: auto;
  padding: 0;
  text-align: left;
}

.p-about {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.4px;
  color: white;
  line-height: 1.5;
  margin-top: 40px;
  text-align: left;
}

.three {
  margin-bottom: 80px;
}