
.contact-box {
  display: flex;
  background-color: #326b8b;
  border-radius: 15px;
  height: fit-content;
  width: 40%;
  padding: 2%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.faq {
  width: 90%;
  background-color: #326b8b;
}

.faq-h1 {
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #ff6001;
  margin-bottom: 2%;
}

.explore {
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.3;
}

.question-box {
  text-align: left;
}

.faq-h2 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #00121d;
  text-align: left;
  padding: 0;
  margin: 3%;
}

.faq-p {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  line-height: 1.5;
  padding: 0% 3%;
}

/*-------------------------------------------------IMAGE--------------------------------------------------*/

@media only screen and (min-width: 0px) and (max-width: 968px) {
  #image-container {
    display: none;
  }
  .contact-box {
    background-color: transparent;
    width: 100%;
    margin: 0;
  }
  .faq {
    background-color: transparent;
  }
  .faq-h2 {
    color: white;
  }
  .contact-info {
    position: static;
    width: 100%;
  }
  .contact-info-icons {
    flex-direction: column;
  }
  #contact-flex {
    flex-direction: column;
  }
  #contact-content {
    width: 100% !important;
  }
  .no-ma {
    margin: 0;
  }
}

#contact-flex {
  display: flex;
  justify-content: space-between;
  padding: 5% 4%;
}
#contact-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 2%;
}
.contact-img {
  width: 100%;
  height: 100%;
  top: 245px;
  right: 220px;
  border-radius: 15px;
  object-fit: cover;
}
#image-container {
  height: 50%;
}

/*-------------------------------------------------CONTACT-DETAILS--------------------------------------------------*/

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #003250 0%, rgba(0, 50, 80, 0) 100%);
  border-radius: 20px;
  top: 960px;
  right: 220px;
  width: 100%;
  height: 70%;
  padding-top: 1%;
}

.contact-info-p {
  font-size: 20px;
  padding: 0% 10%;
  line-height: 1.3;
}

.contact-info-icons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#info-icon,
#info-icon1,
#info-icon2 {
  color: white;
  font-size: 1.2rem;
  text-align: center;
  margin: 10px 30px;
}

#info-icon p {
  width: 100%;
  white-space: nowrap;
  text-align: center;
}

#contact,
#contact2,
#contact-message {
  width: 75%;
  margin: 10px;
  display: inline-block;
  background-color: white;
  border-radius: 6px;
}

#details,
#details2 {
  width: 100%;
  height: 42px;
  padding-left: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: #000000;
}

.send-btn,
#textarea {
  font-family: 'Poppins', sans-serif;
  border: none;
}

.send-btn {
  color: #00121d;
  background-color: #ff6001;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  justify-content: center;
  margin-top: 10px;
}

.send-btn:hover {
  background-color: white;
  transform: scale(1.1);
  transition: 0.2s;
}

#contact-message {
  height: 50%;
}

#textarea {
  width: 100%;
  height: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 18px;
}
