html {
  box-sizing: border-box;
  background-color: #00121D;
  }
  
  *,*:before, *:after {
      box-sizing: inherit;
  }
  
  body {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 auto;
  border: 12px solid #003250;
}

/*----------------------------------------header------------------------------------*/

#continue-btn {
  margin: 0 auto;
  padding: 10px 24px;
  background-color: #FF5C00;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  margin-left: 250px;
  margin-top: 50px;
}

#continue-btn:hover {
  background-color: white;
  transition: .5s;
}

.payment-mtd {
  width: 571px;
  height: 143px;
  background-color: #003250;
  display: flex;
  margin: 40px;
}

.row {
  display: flex;
  flex-direction: row;

}