p {
  margin: 0;
}

.shoppingcart {
  display: flex;
  margin-top: 30px;
  border-radius: 25px;
}

.giftcards {
  width: 40%;
}

.container {
  display: flex;
  flex-direction: column;
}

#pricing-titles {
  width: calc(60% - 60px);
  align-items: flex-end;
  padding-right: 10px;
}

#pricing {
  width: 60px;
  align-items: flex-start;
  padding-left: 10px;
}

.prod-container {
  height: 180px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.prod-container {
  align-items: center;
}

#shop-pic {
  width: 75%;
  height: 100%;
  object-fit: cover;
}

.buy__button__container {
  margin-bottom: 24px;
  width: 100%;
}
.buy__button__container button {
  width: 190px;
}

#continue-btn,
#go-to-payment {
  margin: 0 auto;
  padding: 10px 24px;
  background-color: #ff5c00;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  margin-bottom: 20px;
  margin-left: 12%;
}

#continue-btn {
  margin: 1% 12% 2.5%;
}

.h-shop,
.p-shop {
  font-size: 0.9rem;
}

.h-shop {
  font-family: "Montserrat";
  font-weight: 600;
}

.p-shop {
  font-weight: 400;
}

input.promo_code__input {
  width: 70%;
  height: 45px;
  padding-left: 5%;
  margin: 2% 0%;
}

.discount_amount {
  color: greenyellow;
}

input::placeholder {
  font-family: "Poppins", sans-serif;
}

.payment {
  grid-column: 4/5;
}

.bold {
  font-weight: 500;
}

@media only screen and (min-width: 0px) and (max-width: 1200px) {
  .container p {
    /* font-size: 13px !important; */
    padding: 0 !important;
  }

  .p-shop {
    font-size: 12px !important;
  }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .giftcards {
    width: 55%;
  }

  #pricing-titles {
    width: calc(45% - 60px);
    align-items: flex-end;
    padding-right: 10px;
  }

  #pricing {
    width: 60px;
    align-items: flex-start;
    padding-left: 10px;
  }

  .p-shop {
    font-size: 12px !important;
  }
}