/*----------------------------------------- main---------------------------------------*/

.main-shop {
  background: linear-gradient(180deg, #011420 0%, #01324f 150%);
  height: auto;
}

.container-btn {
  display: flex;
  height: 150px;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  flex-wrap: wrap;
}

#filter,
#best-match {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  text-align: center;
}

#filter {
  margin: 0;
}

#best-match {
  white-space: nowrap;
  width: 200px;
}

.sort-by {
  font-weight: 400;
  font-size: 1.1rem;
  margin: 0;
}
/*----------------------------------------- top sellers ---------------------------------------*/

.grid-scr {
  margin: 80px 0px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  overflow: scroll;
  gap: 80px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scroll-behavior: smooth;
}

.grid-scr::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.img-scr {
  width: 370px;
  height: 480px;
  object-fit: cover;
}

.grid-scr:hover {
  cursor: pointer;
}

/*----------------------------------------- trade-in selection ---------------------------------------*/

#sort-by {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.grid-standard-1,
.grid-standard-2 {
  height: 815px;
  display: grid;
  gap: 1rem;
  grid-template-rows: 49% 49%;
  max-width: 100%;
}

.grid-standard-1 {
  grid-template-columns: 46% 25% 25%;
}

.grid-standard-2 {
  margin-top: 2%;
  justify-items: center;
  grid-template-columns: 25% 25% 46%;
}

.img-standard-1 img,
.img-standard-2 img,
.img-standard img {
  border: 5px solid #000000;
  box-shadow: 0px 4px 4px 3px rgba(0, 29, 46, 0.4);
  object-fit: cover;
  width: 100%;
}

.img-standard-1 img,
.img-standard-2 img {
  height: 815px;
}

.img-standard img {
  height: 100%;
}

#pic3 {
  grid-column-start: 2;
}

#pic2 {
  grid-row-start: 1;
  grid-column-start: 3;
}

/*----------------------------------------- page slc ---------------------------------------*/

.page-slc {
  display: flex;
  justify-content: center;
}

.page-slc i,
.page-slc p {
  background-color: white;
  color: #00121d;
  font-size: 1.2rem;
  text-align: center;
  width: 42px;
  height: 42px;
  margin: 12px 10px 180px;
  cursor: pointer;
}

.page-slc p {
  font-weight: 500;
}

.page-slc i {
  display: grid;
  align-items: center;
}

@media only screen and (min-width: 0px) and (max-width: 968px) {
  .grid-standard-1,
  .grid-standard-2 {
    grid-template-columns: 100% !important;
    grid-template-rows: repeat(5, 400px) !important;
    height: auto !important;
    padding-top: 100px;
    justify-items: center;
    gap: 1%;
  }
  
  .grid-scr {
    gap: 10%;
    margin: 10% 0%;
  }

  .grid-standard-2{
    margin-bottom: 30%;
  }

  .img-standard {
    width: 80%;
  }
  #pic3 {
    grid-column-start: 1 !important;
  }
  #pic2 {
    grid-row-start: 1 !important;
    grid-column-start: 1 !important;
  }
  .img-standard-1 img,
  .img-standard-2 img,
  .img-standard {
    height: 400px;
    margin: 5% 0%;
  }
}

@media only screen and (min-width: 0px) and (max-width: 500px) {
  .container-btn {
    flex-direction: column-reverse;
    height: 200px;
    padding: 10% !important;
    align-items: flex-start;
  }
  #sort-by {
    flex-direction: column;
    align-items: flex-start;
  }
}