.first-box,
.second-box {
  width: 1090px;
  height: 420px;
  background: linear-gradient(180deg, #003250 0%, rgba(0, 50, 80, 0) 100%);
  border-radius: 0px;
  margin-bottom: 50px;
  margin-left: 250px;
  display: grid;
}

.first-box {
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 15% 25% 20% 25% 15%;
  margin: auto;
  margin-bottom: 20%;

}

#continue-btn,
#go-to-payment {
  margin: 0 auto;
  padding: 10px 24px;
  background-color: #FF5C00;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: .9rem;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  margin-bottom: 20px;
  margin-left: 12%;
}

#go-to-payment {
  margin-top: 10%;
  margin-left: 25%;
}

#shop-pic {
  width: 140px;
  height: 160px;
  box-shadow: 0px 4px 4px 3px rgba(0, 29, 46, 0.4);
  object-fit: cover;
  margin-left: 120px;
}

.line-1,
.line-2 {
  display: contents;
}
.line-4 {
  grid-column-start: 4;
  grid-row-start: 3;
  margin-top: 25px;
}

.h-shop {
  margin-left: 50px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: .9rem;
  text-align: center;
  display: grid;
}


.p-shop {
  font-weight: 400;
  font-size: .9rem;
  margin-left: 50px;
}

#card-detail-2 input,
#card-detail-1 input {
  height: 40px;
  width: 300px;
  position: relative;
  left: 88px;
  display: inline-block;
  margin: 10px 30px;

}

#card-detail-1 input {
  margin-top: 30%;
}

#h-line-4 {
  padding-top: 30px;
}