html {
  box-sizing: border-box;
  background-color: #00121d;
  font-size: 18px;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1600px;
  height: auto;
  margin: 0 auto;
  padding: 0;
  color: white;
  font-family: "Poppins", sans-serif;

  overflow-x: hidden;
  border: #003251 8px solid;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #044d7a;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #020e16;
  border-radius: 10px;
}

a {
  display: contents;
}

/*----------------------------------------- header ---------------------------------------*/

header {
  position: relative;
  display: flex;
  width: 100%;
  height: 75px;
  margin: 0 auto;
}

.header__main {
  z-index: 12;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 10px 40px 0 40px;

  background-color: #020e16;
}

.header__logo {
  z-index: 15;
  position: relative;
  display: flex;
  width: 200px;
}

.logo {
  position: absolute;
  width: 80%;
}

/* ----------------- START NAVBAR */

.header__navbar {
  display: flex;
  height: 100%;
  margin-right: auto;
}

.header__navbar--link {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;

  font-family: "Poppins", sans-serif;
  font-size: 0.95rem;
  text-decoration: none;

  color: white;
}

.header__navbar--link:hover {
  background: linear-gradient(
    0deg,
    #003250 20.82%,
    rgba(255, 96, 1, 0.01) 100.48%
  );
  transition: 0.3s;
}

.header__navbar--mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 12px;
}

.header__navbar--mobile .header__navbar--link {
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;

  font-family: "Poppins", sans-serif;
  font-size: 0.65rem;
  text-decoration: none;

  color: white;
}

.header__navbar--mobile .header__navbar--link:hover {
  background: none;
}

/* ----------------- END NAVBAR */

/* ----------------- START NAVIGATOR */

.header__navigator {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: auto;
  column-gap: 20px;
}

.header__navigator .header__navigator--link {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  height: 100%;
  padding: 0;

  font-family: "Poppins", sans-serif;
  font-size: 0.95rem;
  text-decoration: none;

  color: white;
}

#selected {
  background: linear-gradient(
    0deg,
    #ff5c00 20.82%,
    rgba(255, 96, 1, 0.01) 100.48%
  );
  display: flex;
  align-items: center;
  height: 100%;
}

#menu-checkbox,
.hamburger-icon {
  display: none;
}

.header__navigator--mobile {
  column-gap: 20px;
}

.header__navigator--mobile.outside {
  display: none;
  align-items: center;
  margin-left: auto;
}

.header__navigator--mobile.inside {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  width: 100%;
  margin-top: 20px;
}

.header__navigator--mobile .header__navigator--link {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  height: 100%;
  padding: 0;

  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  text-decoration: none;
  user-select: none;

  color: white;
}

/* ----------------- END NAVIGATOR */

/* ----------------- START MENU MOBILE */

.menu_mobile {
  display: none;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  margin: auto 0 auto 30px;
  cursor: pointer;
}

.menu_mobile i {
  font-size: 18px;
  color: white;
}

.header__navigation_mobile {
  z-index: 11;
  position: absolute;
  bottom: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 20px;

  transform: translateY(0);
  transition: 0.3s all;

  background: #003250;
}

.header__navigation_mobile.opened {
  display: none;
}

/* ----------------- END MENU MOBILE */

/* ----------------- START SEARCHBAR */

.searchcontainer {
  z-index: 10;
  display: flex;
  background-color: #003250;
  height: 80px;
  flex-wrap: nowrap;
  align-items: center;
}

.searchbar {
  position: relative;
  background-color: white;
  width: 41.3%;
  height: 28px;
  margin-left: 240px;
  margin-bottom: 5px;
}

.searchbar input {
  font-weight: 500;
  font-family: "Poppins";
  font-size: 0.95rem;
  border: none;
  width: 100%;
  padding: 6px 10px 6px 55px;
}

.searchbar i {
  position: absolute;
  top: 10px;
  left: 20px;

  color: black;
}

/* ----------------- END SEARCHBAR */

/*-------------------------------------- main --------------------------------------*/

p {
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
}

/*-----------------------------------divide lines start------------------------------------*/

.head-line {
  position: relative;
  margin: 25px auto;
  text-align: center;
  font-weight: 600;
  font-size: 1.3rem;
}

.head-line::before {
  background: linear-gradient(90deg, #003250, #ff5c00);
  display: inline-block;
  width: 30%;
  height: 8px;
  content: "";
  position: absolute;
  left: 0;
  top: 40%;
}

.divider {
  width: 100%;
  height: 08px;
  margin: 25px 0;
  background: #003251;
}

.head-line::after {
  background: linear-gradient(90deg, #ff5c00, #003250);
  display: block;
  width: 30%;
  height: 8px;
  content: "";
  position: absolute;
  right: 0;
  top: 40%;
}
/*--------------------------------------divide lines finish---------------------------*/

h2 {
  margin-top: 80px;
  padding: 40px 60px;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
}

button {
  margin: 0 auto;
  padding: 20px 30px;
  background-color: #ff5c00;
  width: 150px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

/*--------------------------------------footer---------------------------*/

.desktop-footer {
  height: 110px;
  display: flex;
  background-color: #00121d;
  border-top: 1px solid #003251;
}

.text-fot,
.text-fot2 {
  font-weight: 400;
  font-size: 14px;
  padding: 1% 0%;
}

.fottext-img {
  margin: auto;
}

/*.text-fot2::after {
  content: "";
  display: inline-block;
  background-image: url(/images/payment\ footer.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 500px;
  height: 18px;
  position: absolute;
}*/

.mobile-version,
.mobile-footer {
  display: none;
}

#home-main-container {
  display: flex;
  gap: 40px;
  flex-direction: row;
}

.heropic img {
  width: 100%;
}

.asidepics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  margin-top: 25px;
}

/* ========================= CART ========================= */

.cart_container {
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 100px auto;
  padding: 4%;
  border-radius: 25px;
  background: linear-gradient(180deg, #003250 0%, rgba(0, 50, 80, 0) 100%);
}

.cart_container.shown {
  display: flex;
}

.cart_container.hidden {
  display: none;
}

.cart_container_empty {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 100px auto;
  padding: 40px 0;
  border-radius: 25px;
  background: linear-gradient(180deg, #003250 0%, rgba(0, 50, 80, 0) 100%);

  font-size: 18px;
  color: white;
}

.cart_container_empty.shown {
  display: flex;
}

.cart_container_empty.hidden {
  display: none;
}

.cart__header {
  display: flex;
  width: 100%;
  padding-right: 40px;
  margin-bottom: 20px;
}

.cart__header div {
  display: block;
  text-align: center;
  width: calc(100% / 6);
}

.cart__products_list {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 10px;
}

.cart__products_item {
  display: flex;
  align-items: center;
  width: 100%;
}

.cart__product_detail {
  display: flex;
  justify-content: center;
  width: calc(100% / 6);
  text-align: center;
}

.cart__product_detail img {
  height: 100px;
}

button.cart__product_detail__exclude {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  padding: 0;
  cursor: pointer;
}

.cart__count_indicator {
  position: absolute;
  right: -14px;
  top: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;

  font-size: 11px;
  font-weight: 500;

  background-color: #ff5c00;
  color: white;
}

.cart__count_indicator.inactive {
  display: none;
}

/* ======================== SECTIONS ======================= */

.section {
  display: flex;
  column-gap: 20px;
  width: 100%;
  height: fit-content;
  padding: 20px;
}

.product_card {
  position: relative;
  border: 5px solid #000;
}

.product_card__image {
  width: 100%;
  object-fit: contain;
}

.product_details {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 15px 0;
  z-index: 100;
  text-align: center;

  background-color: #01314ecc;
}

.product_details b {
  color: white;
}

.product_details__price p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 300;

  color: white;
}

.product_details__price_discount {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.product_details__price_discount p {
  margin: 0;

  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 15px;
  font-weight: 300;
  text-decoration: line-through;

  color: white;
}

.product_details__price_discount b {
  margin: 0;

  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;

  color: white;
}

/* ======================= FEEDBACKS ======================= */

@keyframes loading {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

/* ------ SECTION */

.section_loading {
  width: 100%;
  height: 360px;
  border-radius: 10px;

  background: linear-gradient(
    90deg,
    #f0f0f047 25%,
    #e0e0e047 50%,
    #f0f0f047 75%
  );
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

.section_loading.active {
  display: flex;
}

.section_loading.inactive {
  display: none;
}

.section_error {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 360px;
  border-radius: 10px;

  background-color: rgba(255, 68, 0, 0.3);
}

.section_error.active {
  display: flex;
}

.section_error.inactive {
  display: none;
}

/* ------ SLIDER */

.slider_loading {
  width: 100%;
  height: 460px;
  border-radius: 10px;

  background: linear-gradient(
    90deg,
    #f0f0f047 25%,
    #e0e0e047 50%,
    #f0f0f047 75%
  );
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

.slider_loading.active {
  display: flex;
}

.slider_loading.inactive {
  display: none;
}

.slider_error {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 460px;
  border-radius: 10px;

  background-color: rgba(255, 68, 0, 0.3);
}

.slider_error.active {
  display: flex;
}

.slider_error.inactive {
  display: none;
}

/* ------ GAME DETAILS / DESCRIPTION */

.description_loading {
  width: 100%;
  height: 440px;
  margin: 30px 0;
  border-radius: 10px;

  background: linear-gradient(
    90deg,
    #f0f0f047 25%,
    #e0e0e047 50%,
    #f0f0f047 75%
  );
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

.description_loading.active {
  display: flex;
}

.description_loading.inactive {
  display: none;
}

.description_error {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  border-radius: 10px;

  background-color: rgba(255, 68, 0, 0.3);
}

.description_error.active {
  display: flex;
}

.description_error.inactive {
  display: none;
}

/* ------ TRADE IN SELECTION */

.trade_section_loading {
  width: 100%;
  height: 680px;
  border-radius: 10px;

  background: linear-gradient(
    90deg,
    #f0f0f047 25%,
    #e0e0e047 50%,
    #f0f0f047 75%
  );
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

.trade_section_loading.active {
  display: flex;
}

.trade_section_loading.inactive {
  display: none;
}

.trade_section_error {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 680px;
  border-radius: 10px;

  background-color: rgba(255, 68, 0, 0.3);
}

.trade_section_error.active {
  display: flex;
}

.trade_section_error.inactive {
  display: none;
}

/* ========================================================= */

/*----------------------------------------media queries-------------------------------------*/

@media only screen and (min-width: 0px) and (max-width: 1080px) {
  header {
    position: relative;
    height: 60px;
  }

  .header__main {
    padding: 0 30px;
  }

  .header__logo {
    align-items: center;
    width: 140px;
  }

  .logo {
    height: 80%;
    width: initial;
  }

  .menu_mobile {
    display: flex;
  }

  .header__navbar,
  .header__navigator {
    display: none;
  }

  .header__navigation_mobile.opened {
    display: flex;
    transform: translateY(100%);
  }

  .header__navigator--mobile.outside {
    display: flex;
  }

  .header__navigator--mobile.inside {
    display: none;
  }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  #home-main-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 15px;
  }

  .section {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  .home_section_container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 0 15px;
  }

  .home_section {
    width: 100% !important;
    height: fit-content !important;
  }

  .searchbar {
    margin: 0 auto;
    width: 80%;
    height: 60%;
  }

  .searchbar input {
    width: 100%;
    height: 100%;
  }

  .mobile-version {
    display: flex;
    flex-direction: column;
  }

  .desktop-version {
    display: none;
  }

  .heropic-mob {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  .headerhero-mob {
    color: white;
    text-align: center;
    font-size: 28px;
    margin-bottom: 0px;
    margin-top: 40px;
  }

  p {
    font-size: 16px;
    margin-bottom: 50px;
  }

  .asidepics-mobile {
    display: flex;
    overflow: auto;
    margin-bottom: 40px;
  }

  .asidepic-mob {
    height: 200px;
    object-fit: cover;
    width: 70%;
    padding: 0px 10px;
  }

  .head-line {
    font-size: 15px;
    font-weight: 400;
  }
  .cont1 {
    width: 100%;
  }

  .head-line::after,
  .head-line::before {
    width: 15%;
    height: 6px;
  }

  .divider {
    margin: 5px 0px;
    height: 6px;
  }

  .section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cont2 {
    height: auto;
    width: 90%;
    margin: 30px 0px;
    align-self: center;
  }

  h2 {
    font-size: 24px;
    padding: 0px 40px;
    margin-top: 40px;
    line-height: 1.5;
  }

  .psec1 {
    margin: 20px 0px;
    font-size: 16px;
    padding: 0px 30px;
  }

  .orange {
    width: 44%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section1pic {
    height: 400px;
    width: 90%;
    align-self: center;
    margin: 20px 0px;
    margin-bottom: 40px;
    object-fit: cover;
  }

  .sec2pics {
    display: flex;
    overflow: scroll;
    margin: 0;
  }

  .secpic {
    height: 200px;
    width: 70%;
    margin: 30px 0px;
  }

  #newsletter.cont2 {
    width: 90%;
    margin: 40px 0px;
  }

  #subscribe {
    width: 100%;
  }

  #sign-up {
    font-size: 12px;
  }

  .mobile-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    border-top: 1px solid #003251;
  }

  .desktop-footer {
    display: none;
  }

  .text-fot {
    padding: 1% ;
    margin-bottom: 0px ;
    font-size: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1181px) {
  .searchbar {
    margin: 0 auto;
    width: 80%;
    height: 60%;
  }

  .searchbar input {
    width: 100%;
    height: 100%;
  }

  .desktop-version {
    display: none;
  }

  .mobile-version {
    display: flex;
    flex-direction: column;
  }

  .heropic-mob {
    height: 800px;
    width: 100%;
    object-fit: cover;
  }

  .headerhero-mob {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 0px;
  }

  p {
    padding: 0px 30px;
    font-size: 18px;
  }

  .asidepics-mobile {
    display: flex;
    overflow: auto;
    margin-bottom: 40px;
  }

  .asidepics-mob {
    height: 400px;
    object-fit: cover;
    width: 70%;
    padding: 30px 10px;
  }

  .head-line {
    font-size: 20px;
    font-weight: 400;
  }

  .head-line::after,
  .head-line::before {
    width: 26%;
    height: 6px;
  }

  .section1pic {
    height: 400px;
    object-fit: cover;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #cont-2-id-1,
  #cont-2-id-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .home_section_container {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding-right: 35px;
  }

  .home_section {
    width: 100% !important;
  }

  .sec2pics {
    display: flex;
    overflow: scroll;
    margin: 0;
  }

  .secpic {
    height: 400px;
    width: 40%;
    margin: 50px 10px;
    margin: 40px 0px 40px 4%;
  }

  .orange {
    width: 44%;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #subscribe {
    width: 60%;
  }

  .cont2 {
    height: 400px;
    width: 90%;
  }

  .section1 {
    display: flex;
    flex-direction: column;
  }

  #sec1-3 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #newsletter.cont2 {
    width: 90%;
    height: 350px;
    margin: 40px;
    display: flex;
    flex-direction: column;
  }

  h2 {
    margin-top: 50px;
    padding: 0px 30px;
    font-size: 30px;
  }

  .psec1 {
    font-size: 20px;
  }

  .mobile-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    border-top: 1px solid #003251;
  }

  .desktop-footer {
    display: none;
  }


  .text-fot {
    padding: 0px 20px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
  .header__navigator--mobile.outside {
    display: none;
  }

  .header__navigator--mobile.inside {
    display: flex;
  }

  .cart__count_indicator {
    right: -18px;
    top: -7px;
  }
}