.trade-in-text {
  display: flex;
  margin: 20px 200px;
  justify-content: space-between;
}

.buy-sell,
.trade-in-p {
  margin-top: 40px;
  margin-bottom: 0;
  width: 50%;
  padding: 4% 0%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-align: center;
}

.buy-sell {
  font-size: 5.3rem;
}

.trade-in-p {
  font-size: 1.1rem;
}

.sell-orange {
  color: #ff6001;
  display: contents;
  font-weight: 700;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .trade-in-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }

  .buy-sell,
  .trade-in-p {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .buy-sell {
    font-size: 50px;
  }

  .trade-in-p {
    font-size: 14px;
  }

  .sort-by {
    font-size: 16px;
  }

  #best-match,
  #filter {
    font-size: 14px;
    width: 130px;
    display: flex;
    justify-content: center;
  }

  #filter {
    position: absolute;
    left: 60%;
  }

  .head-line::before,
  .head-line::after {
    width: 9%;
  }

  .page-slc .fa-chevron-left,
  .page-slc p,
  .page-slc .fa-chevron-right {
    margin: 3%;
    margin-top: 6%;
    margin-bottom: 12%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
  .trade-in-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }

  .buy-sell {
    font-size: 80px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .trade-in-p {
    font-size: 18px;
    margin-top: 0px;
    height: auto;
    width: 100%;
    line-height: 1.5;
  }

  .sort-by {
    font-size: 15px;
  }

  #best-match,
  #filter {
    font-size: 14px;
    width: 130px;
    display: flex;
    justify-content: center;
  }

  .head-line::before,
  .head-line::after {
    width: 9%;
  }

  .page-slc p {
    display: flex;
    padding: 0px;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
  }

  .page-slc i {
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 0px) and (max-width: 1080px) {
  .grid-standard-1,
  .grid-standard-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    row-gap: 10px;
  }

  .grid-scr {
    gap: 10%;
    margin: 10% 0%;
  }

  .img-standard-1,
  .img-standard-2,
  .img-standard {
    width: 80%;
  }

  .img-standard-1 img,
  .img-standard-2 img,
  .img-standard-1,
  .img-standard-2,
  .img-standard {
    height: 100%;
  }
}
